<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="deleteByPrimayKeyEnabled" value="false" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="insertMethodEnabled" value="false" />
        <option name="insertSelectiveMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="com.byx.study.plus.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/provider/provider-plus/src/main/java" />
        <option name="javaModelPackage" value="com.byx.study.plus.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/provider/provider-plus/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="provider-plus" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="provider-plus">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.byx.study.plus.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/provider/provider-plus/src/main/java" />
                  <option name="javaModelPacakge" value="com.byx.study.plus.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/provider/provider-plus/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.byx.study.plus.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/provider/provider-plus/src/main/java" />
                  <option name="javaServicePackage" value="com.byx.study.plus.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/provider/provider-plus/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/provider/provider-plus/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="provider-tk">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.byx.study.tk.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/provider/provider-tk/src/main/java" />
                  <option name="javaModelPacakge" value="com.byx.study.tk.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/provider/provider-tk/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.byx.study.tk.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/provider/provider-tk/src/main/java" />
                  <option name="javaServicePackage" value="com.byx.study.tk.service.imp" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/provider/provider-tk/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/provider/provider-tk/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusStaticField" value="false" />
        <option name="selectByPrimaryKeyEnabled" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="db2:air_quality_index">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="AirQualityIndex" />
                  <option name="moduleName" value="provider-plus" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db2:district">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="District" />
                  <option name="moduleName" value="provider-plus" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="useLomBokOnModel" value="true" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/provider/provider-plus/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>